@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
    font-family: 'Paperlogy-8ExtraBold';
}
a{
    text-decoration: none;
    color: black;
}
body {
    height: 300vh; /* 스크롤을 위해 페이지 높이를 늘림 */
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
main section:not(:first-child) {
    text-align: center;
}
#header-section{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;
    height: 80px;
    font-size: 20px;
}
#header-container{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
#header-container div{
    flex: 1;
    justify-content: space-between;
    align-content: center;
}
#nav-container nav{
    text-align: right;
}
#nav-container li{
    display: inline-block;
}
#nav-container li:not(:last-child){
    margin-right: 40px;
}
#nav-container li a{
    transition: color 0.2s;
}
#nav-container li a:hover{
    color: rgba(0,0,0,0.5);
}
/************** 스크롤 이벤트 css ****************/
#animatedImage{
    height: 600px;
    width: 600px;
}
.hidden {
    opacity: 1;
    transform: translateX(100vw); /* 오른쪽 화면 끝에서 시작 */
    transition: transform 1s;
}
.visible {
    opacity: 1;
    transform: translateX(-100vw); /* 원래 위치로 이동 */
    transition: transform 10s;
}
.middle {
    opacity: 1;
    transform: translateX(-100vw); /* 가운데에 놔두기 */
    transition: transform 5.5s;
}
/************** 스크롤 이벤트 css ****************/
#introduction-section{
    height: 100vh;
    display: flex;
    position: relative;
    top: 0;
    background-color: aliceblue;
    overflow-x: hidden;
    overflow-y: hidden;
}
#scroll-move-container{
    top: 100px;
    position: absolute;
}
#intro-container{
    position: absolute;
    top: 200px;
    margin: auto 0;
    width: 600px;
    height: 360px;
    align-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    background-color: white;
    border-radius: 24px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
/****************************************/
.sections{
    padding: 128px 0;
}
.section-title{
    margin-top: 24px;
    padding: 8px;
    font-size: 44px;
}
.link-icon{
    opacity: 0.5;
    margin-right: 8px;
}
.link-icon:hover{
    color: rgba(0,0,0,0.5);
}
.fa-link{
    font-size: 44px;
}
#about-me-section .section-title{
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
#about-me-container{
    display: flex;
}
#about-me-container div{
    margin: 80px 0;
    flex: 1;
}
#about-me-container span{
    display: inline-block;
}
#about-me-container .desc{
    margin-bottom: 16px;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
#about-me-container .desc-content{
    display: block;
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    font-weight: lighter;
}
/****************************************/
#archive-section .section-title{
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}
#archive-section{
    background-color: #1e1e41;
}
#archive-container{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 80px auto;
}
#archive-section .archive-container-btn{
    padding: 32px;
    width: 320px;
    height: 240px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.3s;
}
.archive-container-btn img{
    margin-bottom: 24px;
}
.archive-container-btn a{
    color: #1e1e41;
    font-weight: bold;
    margin-bottom: 16px;
}
.archive-container-btn span{
    text-align: left;
    margin-bottom: 8px;
}
.archive-container-btn:not(:last-child){
    margin-right: 64px;
}
#archive-section .archive-container-btn:hover{
    transform: scale(1.1);
}
#git-hub-logo{
    width: 200px;
    height: 48px;
}
#notion-logo{
    height: 48px;
    width: 130px;
}
/****************************************/
#skill-section{
    background-color: #94b994;
}
#skill-section #skill-all-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 70%;
    padding: 24px;
    margin: 80px auto;
    height: 600px;
    background-color: white;
    border: none;
    border-radius: 24px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
#skill-section .skill-icons{
    position: absolute;
    margin: 10px;
    cursor: grab;
    transition: transform 0.2s;
}
#skill-section .skill-icons:hover{
    transform: scale(1.1);
}
#skill-section .skill-icons img{
    width: 160px;
    height: 160px;
}
#skill-section .skill-icons.dragging {
    opacity: 1;
    cursor: grabbing;
}
#skill-section .long-icon{
    width: 160px;
    height: 200px;
}
#skill-section #mysql-icon{
    width: 200px;
    height: 152px;
}
#skill-section #thymeleaf-icon{
    border-radius: 25%;
}
#skill-describe-container{
    width: 70%;
    height: 400px;
    padding: 40px;
    margin: 0 auto;
    background-color: white;
    border: none;
    border-radius: 24px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}